<template>
    <input v-model="city" @input="getCity" type="text" class="form-control w-100" placeholder="City's name"
           aria-label="City's name">
    <button type="button" class="btn btn-dark mt-2 w-100" v-if="playerChoice" @click="checkResponse">submit</button>
  <div class="list-group" v-if="choices">
    <div class="list-group-item choice" v-for="choice in choices" @click="chooseCity(choice)">
      <div class="d-flex flex-column">
        <h5 class="mb-1">{{ choice.nom }}</h5>
        <div class="text-end">
          <small>{{ choice.departement.nom }} - {{ choice.departement.code }}</small>
        </div>
      </div>
    </div>
  </div>
  <div v-if="playerGuessNb > 0">
    <h3>Player's responses</h3>
    <div v-for="choice in playerChoices">
      <div class="d-flex flex-row mt-3">
        <span class="d-flex flex-column align-items-center">
          <span class="badge rounded-pill" v-bind:class="getClass(choice.diff.region)">
            {{choice.city.region}}
          </span>
        </span>
        <span class="d-flex flex-column align-items-center">
          <span class="badge rounded-pill" v-bind:class="getClass(choice.diff.departmentCode)">
            {{choice.city.department.code}}
          </span>
        </span>
        <span class="d-flex flex-column align-items-center">
          <span class="badge rounded-pill" v-bind:class="getClass(choice.diff.population)">
            {{choice.city.population}}
          </span>
        </span>
        <span class="d-flex flex-column align-items-center">
          <span class="badge rounded-pill" v-bind:class="getClass(choice.diff.latitude)">
            {{choice.city.coordinates[1]}}
          </span>
        </span>
        <span class="d-flex flex-column align-items-center">
          <span class="badge rounded-pill" v-bind:class="getClass(choice.diff.longitude)">
            {{choice.city.coordinates[0]}}
          </span>
        </span>
      </div>
    </div>
  </div>

</template>

<script>

import axios from "axios";

export default {
  data() {
    return {
      city: null,
      choices: null,
      playerGuessNb: 0,
      playerChoices: [],
      playerGuess: {},
    }
  },
  methods: {
    async getCity() {
      this.playerChoice = null
      axios.get('https://geo.api.gouv.fr/communes', {
        params: {
          nom: this.city,
          boost: "population",
          limit: 5,
          fields: "code,nom,departement"
        }
      }).then(res => this.choices = res.data)
    },
    chooseCity(choice){
      this.playerChoice = choice;
      this.city = choice.nom
      this.choices = null
    },
    async checkResponse(){
      await axios.post("/check", {
        city: this.playerChoice.nom,
        cityCode: this.playerChoice.code
      }).then(response => this.playerChoice = response.data)
      this.playerChoices.push(this.playerChoice)
      console.log(this.playerChoices);
      this.playerGuessNb++
    },
    getClass(data){
      if(data === true){
        return 'text-bg-success'
      }else {
        return 'text-bg-secondary'
      }
    }
  }
}
</script>

<style>
</style>