section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus{
  box-shadow: none !important;
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
  transition: none !important;
}

.choice:hover{
  background: var(--bs-primary);
  color: #FFFFFF;
}