{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <h1>Find the french city</h1>
        <div id="app">

        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('city') }}
{% endblock %}
